autostart.stamp
crash-reports
crash-reports/
crash-reports/*
logs
logs/
logs/*
backups
backups/*
config/Chikachi/discordintegration.json
*.zip
snapshots-server
snapshots-server/*
dynmap/web/tiles/*
dynmap/web/tiles
*.dump
ops.json
usercache.json
usernamecache.json
.mixin/
*.dll
autostart.stamp
*.so
plugins/magibridge/MagiBridge.conf
plugins/OnTime/config.yml
nucleus/worlddata
nucleus/worlddata/*
plugins/resist/spongepress.conf
nucleus/userdata
nucleus/userdata/*
plugins/invsync/invsync.conf
plugins/betterchunkloader/config.conf
plugins/MysqlInventoryBridge/config.yml
plugins/MysqlExperienceBridge/config.yml
plugins/AdvancedAchievements/config.yml
plugins/DiscordSRV/config.yml
plugins/PermissionsEx/config.yml
banned-ips.json
banned-players.json
usercache.json
usernamecache.json
whitelist.json
ops.json
options.txt
.mixin.out/
.mixin.out/audit
.mixin.out/*
llibrary/
llibrary/*
luckperms/lib/
luckperms/lib/*
dynmap/renderdata
dynmap/colorschemes
dynmap/templates
dynmap/texturepacks
dynmap/*.yml
dynmap/*.pending
dynmap/web/standalone
dynmap/web/js
dynmap/worlds.txt
dynmap/version.txt
dynmap/shaders.txt
dynmap/perspectives.txt
dynmap/lightings.txt
dynmap/ids-by-ip.txt
dynmap/custom-shaders.txt
dynmap/custom-*
dynmap/web/css/
dynmap/web/css/*
dynmap/web/css
dynmap/web/config.js
dynmap/web/gettiles.php
dynmap/web/inactive.html
dynmap/web/login.html
dynmap/web/robots.txt
dynmap/web/up*
dynmap/web/version.js
crafttweaker.log
plugins/ultimatechat/config.conf
nucleus/nucleususercache.json
nucleus/nucleususercache.json.*
OpenComp*.dll
OpenComp*.so
journeymap/server/5.5/journeymap.server.dim*
plugins/totaleconomy/totaleconomy.conf
config/purpleirc/bots/ResistBot.yml
plugins/rankup/rankup.conf
plugins/plan/config.yml
plugins/aurionsvotelistener/Setting.conf
plugins/serverlistplus/PlayerCache.json
plugins/luckperms/luckperms.conf
plugins/pjp/pjp.conf
server.properties
index.php
Alpha/
Alpha/*
plugins/NodeBBIntegration/config.yml
plugins/OnTime/backup
plugins/OnTime/backup/*
spigot.yml
Universe/
Universe/*
Universe
world
world/
world/*
betterfps.txt
config/MatterOverdrive/Registry.matter
config/UniqueNames.txt
config/worldedit/worldedit.properties
